body{
    color: cadetblue;
}
.heading-1 {
    font-size: 50px;
    color: blue;
    text-align: end;
    margin: 0px 10px 0px 10px;
}
.Adders{
    margin-left: 596px;
}
.heading-2 {
    font-size: 30px;
    color: brown;
    text-align-last: end;
    margin:0px 59px 3px 10px;
}

.heading-3 {
    font-size: 30px;
    color: crimson;
    font-style: oblique;
    margin: 12px;
}

.sub-heading-3 {
    margin-left: 17px;
    font-size: 23px;
    font-style: oblique;
    color: brown;

}

.heading-4 {
    font-size: 30px;
    color: crimson;
    font-style: oblique;
    margin: 12px;
}

.table,
tr,
td,
th {
    border: 2px solid black;
    padding: 10px;

}

.table {
    width: 500px;
    height: auto;
    margin-left: 20px;
}

tr,
td,
th {
    text-align: center;
}

td {
    height: 30px;
    vertical-align: middle;
}

.table-1,
th,
td {
    border: 2px solid black;
    margin-left: 20px;

}

.heading-5 {
    font-size: 30px;
    color: crimson;
    font-style: oblique;
    margin: 12px;
}

.sub-heading-5 {
    color: brown;
    font-size: 23px;
    font-style: oblique;
    margin-left: 30px;
}

.heading-6 {
    font-size: 30px;
    color: crimson;
    font-style: oblique;
    margin: 12px;
}

.sub-heading {
    color: burlywood;
}

.heading-7 {
    font-size: 30px;
    color: crimson;
    font-style: oblique;
    margin: 12px;
}

.sub-heading-7{
    margin-left: 30px;
    font-size: 23px;
    color: blueviolet;
    font-style: oblique;
}

.heading-8 {
    font-size: 30px;
    color: crimson;
    font-style: oblique;
    margin: 12px;
}

.sub-heading-8 {
    margin-left: 25px;
    font-size: 25px;
    font-style: oblique;
    color: cadetblue;
}

.sub-heading-8A {
    margin: 10px;
    margin-left: 60px;
    font-size: 22px;
    font-style: oblique;
    color: brown;
}

.sub-heading81 {
    margin-left: 25px;
    font-size: 25px;
    font-style: oblique;
    color: cadetblue;
}

.sub-heading-81A {
    margin: 10px;
    margin-left: 60px;
    font-size: 22px;
    font-style: oblique;
    color: darkred;
}

.heading-9 {
    font-size: 30px;
    color: crimson;
    font-style: oblique;
    margin: 12px;
}

.heading-10 {
    font-size: 30px;
    color: crimson;
    font-style: oblique;
    margin: 12px;
}

.heading-11 {
    font-size: 30px;
    color: crimson;
    font-style: oblique;
    margin: 12px;
}

.heading-12 {
    font-size: 30px;
    color: crimson;
    font-style: oblique;
    margin: 12px;
}

.sub-heading-12 {
    margin-left: 30px;
    font-size: 22px;
    color: blueviolet;
    font-style: oblique;

}

.heading-13 {
    font-size: 30px;
    color: crimson;
    font-style: oblique;
    margin: 12px;
}

.sub-heading-13 {
    margin-left: 20px;
    margin: 10px;
    font-style: oblique;
    color: blue;
}

.sub-heading-9 {
    margin-left: 30px;
    font-size: 23px;
    color: blueviolet;
}

.sub-heading-10 {
    margin-left: 30px;
    font-size: 23px;
    color: blueviolet;
    font-style: oblique;
}

.sub-heading-11 {
    margin-left: 30px;
    font-size: 23px;
    font-style: italic;
    color: blueviolet;
}

.heading-14 {
    margin: 3px;
    margin-left: 26px;
    font-size: 21px;
    font-style: italic;
    color: deeppink;
}

.heading-15 {
    display: flex;
    font-size: 22px;
    font-style: italic;
    color: cornflowerblue;
    justify-content: end;
    margin-top: -24px;
}

.sub-heading-15 {
    margin-left: 700px;
    font-size: 18px;
    font-style: italic;
    color: coral;

}